{% extends "registration/password_change_base.html" %}
{% load i18n %}

{% block message %}
{% if validlink %}
    {% translate "Please enter your new password" %}
{% else %}
    {% url 'password_reset' as password_reset_url %}
    {% blocktranslate %}This link is invalid. It has either expired or already been used. Please generate a new one <a href="{{ password_reset_url }}">here</a>.{% endblocktranslate %}
{% endif %}
{% endblock %}

{% block submit_text %}
{% translate "Set password" %}
{% endblock %}